/*
Theme Name: Covernews child
Theme URI: https://afthemes.com/products/covermag/
Author: AF themes
Template: covernews
Text Domain: covernews
Version: 1.1.6
*/

.custom-logo-link {
    max-width: 200px;
}
.masthead-banner
.site-branding {
    text-align: center;
}


/* Colors change */
.full-plus-list .spotlight-post:first-of-type .figure-categories .cat-links a.covernews-categories,
.figure-categories .cat-links a.covernews-categories,
.exclusive-posts .exclusive-now,
.main-navigation,
.secondary-color,
button, input[type="button"], input[type="reset"], input[type="submit"],
.site-content .search-form .search-submit,
.site-footer .search-form .search-submit,
.tagcloud a:hover,
.tagcloud a:hover {
    color: #ffffff !important;
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

span.header-after:after,
span.border-after,
.main-story-wrapper span.border-after,
#secondary .widget-title span:after { 
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}